<div class="container-fluid" id = "getInvolved">
  <div class="row">
    <div class="col-md-8">
      <h2>Get Involved</h2>
      <p>YouthCare relies on the generosity and involvement of our community
          be successful. Your contribution ensures we can continue to serve our
          youth and provide meaningful, lifelong development.
      </p>
      <p>Contribute now to support youth and the future of our community!</p>
      <br>
      <button class = "donateButton navbar-btn">
        <span class = "glyphicon glyphicon-heart" aria-hidden = "true">
        </span> DONATE</button>
        <button class = "donateButton navbar-btn">
          <span class = "glyphicon glyphicon-heart" aria-hidden = "true">
          </span> VOLUNTEER</button>
    </div>
    <div class="col-md-4">
      <h3>We'd love to hear from you</h3>
      <form>
        <div class="form-group">
          <input type="text" class = "form-control" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="email" class = "form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <textarea class = "form-control" rows="3" placeholder="Message"></textarea>
        </div>
        <button type="sumbit" id = "footerButton">
          SEND</button>
      </form>
    </div>
  </div>
</div>

<div class = "container-fluid" id = "footerContactInfo">
  <div class="row">
    <div class="col-md-6">
      <h6>YouthCARE Minnesota</h6>
      <p>2701 University Avenue SE, Suite 205</p>
      <p>Minneaplis, MN 55414</p>
      <p>612.338.1233</p>
      <p>info@YouthCAREmn.org</p>
      <br>
      <span class = "glyphicon glyphicon-leaf"></span>
      <span class = "glyphicon glyphicon-leaf"></span>
      <span class = "glyphicon glyphicon-leaf"></span>
      <span class = "glyphicon glyphicon-leaf"></span>
      <br>
    </div>
    <div class="col-md-6 well" id = "newsletter">
        <h3>Newsletter Sign Up</h3>
        <form>
          <div class="form-group">
            <input type="text" class = "form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class = "form-control" placeholder="Email">
          </div>
          <div class="">
            <button type="sumbit" id = "footerButton">Sign Up</button>
          </div>

        </form>
    </div>
  </div>
  <div class="row" id = "footerLinks">
    <p><a href = "#">Newsletter</a> | <a href = "#">Publications</a> |
        <a href = "#">Employment</a> | <a href = "#">Privacy Policy</a> |
        <a href = "#">Disclaimer</a></p>
  </div>
</div>
