<div class="container-fluid" id = "photoBar">
  <div class="row" id = "photoBar">
    <div class="col-md-3" id = "photoBar1">
        <h3 class = "photoBarContent">celebrating diversity</h3>
    </div>
    <div class="col-md-3" id = "photoBar2">
        <h3 class = "photoBarContent">meaningful jobs</h3>
    </div>
    <div class="col-md-3" id = "photoBar3">
        <h3 class = "photoBarContent">healthy lifestyle</h3>
    </div>
    <div class="col-md-3" id = "photoBar4">
        <h3 class = "photoBarContent">developing leaders</h3>
    </div>
  </div>
</div>
