<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" id = "programBar1">
      <img src="/images/CircleLogo_white.png" alt="Circle Logo"
            class = "img-respsonsive">
      <h3>Camp Sunrise</h3>
    </div>
    <div class="col-md-4" id = "programBar2">
      <img src="/images/CircleLogo_white.png" alt="Circle Logo"
            class = "img-respsonsive">
      <h3>YouthLEAD Program</h3>
    </div>
    <div class="col-md-4" id = "programBar3">
      <img src="/images/CircleLogo_white.png" alt="Circle Logo"
            class = "img-respsonsive">     
      <h3>Young Women's Mentoring Program</h3>
    </div>
  </div>
