<!-- <div id="container">
  <img src="../../images/CampSunrise_banner.jpg" class="images" alt="Camp Sunrise">
  <p class="heading-text">CAMP SUNRISE</p>
</div> -->

<div class = "container-fluid" id = "bannerCampSunrise">
  <div ng-include = "'/views/partials/header.html'"></div>
    <h1 class = "bannerHeader">CAMP SUNRISE</h1>
</div>

<div class="program-text">
  <img src="../../images/CampSunriseLogo.jpeg" class="images sunrise-logo" alt="Camp Sunrise Logo">
  <h2 class="heading-left">About the Program</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
     Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
     Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Each Summer 250-300 youth participate in Camp Sunrise's summer and school
      year activities. In addition to week-long summer sessions, Camp Sunrise
      hosts leadership retreats and urban outdoor recreation activities during
      the school year.</p>
  <button class="button">APPLY FOR STAFF</button>
</div>

<div id="container">
  <img src="/images/CampSunrise_panelimage.jpg" class="images" alt="Campers rowing across a river in canoes.">
  <div class="demographic-text">
    <h2 class="image-text-title">Demographic Information</h2>
    <p>Camp Sunrise works with about 250 youth ages 13-18 from Minneapolis and
        St. Paul in the following general demographic breakdown: </p>
    <ul>
      <li>African/African American - 49%</li>
      <li>Asian American - 32%</li>
      <li>Native American - 2%</li>
      <li>European American - 4%</li>
      <li>Latino/a - 3%</li>
      <li>Multiracial - 10%</li>
    </ul>
  </div>
</div>

<div class="spacer">
  <p class="spacer-campSunrise">A crew (8 campers 13-18 years old and 2 adult leaders) in the last strech of their three-day canoe trip on the St. Croix River.</p>
</div>

<div class="program-text">
  <h2 class="heading-center">Awards and Recognition</h2>
  <p>In addition to numerouse media feature, Camp Sunrise has recieved significant recognition for its impact on the community over the years.</p>
  <div class="list">
    <p>2014 Certificate of Recognition from Minnesota Governor Mark Dayton
        for participation in the Adopt-a-River program on the St. Croix River.</p>
    <p>2008 Access to the Outdoors Award from the Parks & Trails Council of Minnesota</p>
    <p>2000 Nonprofit Mission Award for Anit-Racism from the Minnesota Council of Nonprofits</p>
    <p>1993 National Park Service Certificate of Appreciation for outstanding
        contributions to the St. Croix National Scenic Riverway</p>
    <p>1991 American Red Cross Community Service Award</p>
    <p>1990 Minnesota Clean River Project Certificate of Commendation from
        Minnesota Governor Rudy Perpich</p>
    <p>1989 President's Environmental Youth Award from President George H. Bush</p>
    <p>1988 VIP Volunteers in Parks Program from St. Croix Wild and Scenic River</p>
    <p>1987 President's Citation for Private Sector Initiatives from President
        Ronald Reagan</p>
    <p>1986 Distinguished Service Award from the Mayor of Minneapolis</p>
    <p>1985 Eleanor P. Eells Award for Program Excellence from the Fund for the
        Advancement of Camping</p>
  </div>
</div>

<div ng-include = "'/views/partials/photoBar.html'"></div>
