<div class = "container-fluid" id = "bannerHome">
  <div ng-include = "'/views/partials/header.html'"></div>
  <h1 class = "bannerSlideMain">EDUCATION</h1>
  <p class = "bannerSlideSub">YouthCare develops the academic and essential skills to help youth succeed
     in school, work and life.</p>
  <p><a id = "bannerButton" href = "#/about" role = "button">LEARN MORE
    <span class = "glyphicon glyphicon-arrow-right" aria-hidden = "true"><span></a>
  </p>
</div>

<!-- <p>{{vm.hello}}</p> -->

<!-- <div class="container">
  <div style="height: 305px">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h1>{{slide.title}}</h1>
          <p>{{slide.text}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
        <button type="button" class="btn btn-info" ng-click="randomize()">Randomize slides</button>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="noWrapSlides">
            Disable Slide Looping
          </label>
        </div>
      </div>
      <div class="col-md-6">
        Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
        <br />Enter a negative number or 0 to stop the interval.
      </div>
    </div>
</div> -->

<div ng-include = "'/views/partials/programBar.html'"></div>

<div class="container-fluid" id = "content">
  <div class="row">
    <div class="col-md-6">
      <h2>Our Mission</h2>
      <p>YouthCARE's mission is to promote respect for self and others, develop
          future leaders, and provide youth with positive multicultural activities
          and relationships with caring adults.</p>
      <p>YouthCARE programs are designed to meet the holistic needs of young people.
          We empower youth to feel pride in their culture, trust and respect
          themselves and each other, and work toward greater cultural appreciation
          and racial equality - that is what CARE stands for!</p>
      <ul>
        <li>Empowering Youth since 1974</li>
        <li>2014 Minnesota Nonprofit Award for Excellence</li>
        <li>Over 600 Youth served annually</li>
      </ul>
      <button class = "button">ABOUT US</button>
    </div>
    <div class="col-md-6">
      <img src="/images/Home_circle.jpg" class = "img-respsonsive"
            alt="Responsive image">
    </div>
  </div>
</div>

<div class="container-fluid" id = "homeDiv2">
  <div class="row">
    <div class="col-md-4">
      <img src="/images/Programs_circle.png" class = "img-respsonsive"
            id = "homeDiv2Img" alt="Responsive image">
    </div>
    <div class="col-md-8">
      <h3>YouthCARE Presents the 2017 Champions of Urban Youth</h3>
      <p class = "date">April 30, 2017</p>
      <p>The City of Minneapolis STEP-UP Youth Employment Program and Dr. Reatha
          Clark King will be honored with the Champion of Urban Youth Award
          YouthCARE on Sunday, April 30, as its 12th Annual Celebration of Urban
          Youth Award recognizes organizations and individuals that provide
          support to youth in the areas of education, culture and recreation.
      </p>
      <br>
      <br>
      <br>
      <button id = "bannerButton">MORE INFO</button>
    </div>
  </div>
</div>
