<div class = "container-fluid" id = "bannerVolunteer">
  <div ng-include = "'/views/partials/header.html'"></div>
</div>

<div class="container">
  <h2 id = "headers2">Volunteer Opportunities</h2>
  <p>YouthCARE relies on the generosity and involvement of our community to be
      successful. Your contribution of time, talent, or financial resources
      means the world to us and the youth we work with. Please consider supporting
      us in one or more of the following ways:</p>
  <p>Contribute to YouthCARE: Donating to YouthCARE is easy! Follow this link
      to learn how.</p>
  <button class = "button">SEE PROGRAMS</button>
</div>

<div ng-include = "'/views/partials/photoBar.html'"></div>
