<div class = "container-fluid" id = "bannerYouthLead">
  <div ng-include = "'/views/partials/header.html'"></div>
    <h1 class = "bannerHeader">YouthLEAD PROGRAM</h1>
</div>

<div class="program-text">
  <h2 class="heading-left" id = "headers2">About the Program</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
     Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
     Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <br>
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <br>
  <button class="button">GET INVOLVED</button>
</div>

<div id="container">
  <img src="/images/YouthCARE_panelimage.jpg" class="images" alt="community service stars">
</div>

<div class="spacer">
  <p class="spacer-youthLEAD">The Community Service Stars component of YouthLEAD employs youth part time to address community needs with local nonprofit organizations while developing employment and financial literacy skills.</p>
</div>

<div class="program-text">
  <h2 class="heading-center" id = "headers2">Program Impact</h2>
  <p>At the end of the 2014-15 program year, YouthCARE staff asked YouthLEAD participants, "What do you like best about YouthCARE?" Below are some of the responses:</p>
  <ul class="list">
    <li>"You can be yourself"</li>
    <li>"Meet new people"</li>
    <li>"The people are welcoming"</li>
    <li>"College visits"</li>
  </ul>
</div>

<div ng-include = "'/views/partials/photoBar.html'"></div>
